<div class="container">
  <div class="row">
    <!--============================================ ROW ONE! ============================================-->
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/simhle.png">
      <div>
        <p>LIMITED EDITION<br><b style="color: red;">R520.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/andiswa.png">
      <div>
        <p>BODY SUIT<br><b style="color: red;">R220.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/thuli.png">
      <div>
        <p>PURPLE DRESS<br><b style="color: red;">R302.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/jenna.png">
      <div>
        <p>WHITE TOP<br><b style="color: red;">R122.55</b></p>
      </div>
    </div>

    <!--============================================ ROW TWO! ============================================-->
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/andiswa.png">
      <div>
        <p>BODY SUIT<br><b style="color: red;">R220.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/thuli.png">
      <div>
        <p>PURPLE DRESS<br><b style="color: red;">R302.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/jenna.png">
      <div>
        <p>WHITE TOP<br><b style="color: red;">R122.55</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/simhle.png">
      <div>
        <p>LIMITED EDITION<br><b style="color: red;">R520.95</b></p>
      </div>
    </div>

    <!--============================================ ROW THREE! ============================================-->
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/jenna.png">
      <div>
        <p>WHITE TOP<br><b style="color: red;">R122.55</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/simhle.png">
      <div>
        <p>LIMITED EDITION<br><b style="color: red;">R520.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/thuli.png">
      <div>
        <p>PURPLE DRESS<br><b style="color: red;">R302.95</b></p>
      </div>
    </div>
    <div class="col-sm-3 image-grid-parent">
      <img class="img-style" src="../../assets/images/andiswa.png">
      <div>
        <p>BODY SUIT<br><b style="color: red;">R220.95</b></p>
      </div>
    </div>

  </div>
</div>
