.image-card-design {
  height: 350px;
  width: 100%;
  border: thin;
  background-color: whitesmoke;
  padding: 40% 0;
}

.image-grid-parent {
  top: 10px;
  padding-top: 20px;
}

.image-grid-parent:hover {
  top: -5px;
}

.img-style {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
